.App {
  text-align: center;
}

.App-logo1, .App-logo2 {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo1 {
    animation: App-logo-spin1 infinite 15s linear;
  }
  .App-logo2 {
    animation: App-logo-spin2 infinite 15s linear;
  }
}

.App-header {
  background-color: DarkSlateGrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: Silver;
}

.App-link {
  color: Cyan;
}

@keyframes App-logo-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

@keyframes App-logo-spin2 {
  from {
    transform: rotate(3600deg);
  }
  to {
    transform: rotate(0deg);
  }
}
